<h1> Data Science Tools and Ecosystem </h1>

<h3>IBM Data Science Coursera: Submission for Course#2 (<i>Tools for Data Science</i>)
<h2> Author Daniel Alan Collins </h2>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. seaborn
5. sk-learn
6. lxml
7. requests
8. bs4 (BeautifulSoup)
9. PIL (python image library)
10. tensorflow

## Exercise 6 - Create a markdown cell with a table of Data Science tools
####  The subsequent three rows in the table should indicate 
####  three development environment open source tools used in data science.
| Data Science Tools | Type |
| ---- | ---- |
| JupyterLab | IDE |
| VSCode | IDE |
| Spyder | IDE |
| RStudio | IDE |
| MySQL | Database |
| Postgre SQL | Database |
| MongoDB | Database(NoSQL) |
| Apache CouchDB | Database(NoSQL)|
| Apache Airflow | Data integration |
| Kubeflow | Data integration |
| Apache Kafka | Data integration  |
| Apache Nifi | Data integration  |
| Apache SparkSQL | Data integration |
| NodeRED | Data integration |
| Pixie Dust | Data Visualization | 
| Hue | Data Visualization | 
| Kibana | Data Visualization | 
| Apache Superset | Data Visualization | 
| Apache PredictionIO | Model Deployment | 
| Seldon | Model Deployment | 
| Kubernetes| Model Deployment | 
| Redhat OpenShift | Model Deployment | 
| Mleap | Model Deployment | 
| TensorFlow Lite| Model Deployment | 
| TensorFlow.JS | Model Deployment | 
| ModelDB | Model monitoring |
| Prometheus | Model monitoring |
| Hadoop | Cluster (Bigdata) |
| HDFS | Cluster (Bigdata) |
| Ceph | Cloud/Cluster (Bigdata) |
| Github | Version control/management |
| GitLab | Version control/management |
| Bitbucket | Version control/management |
| Kylo | Data management | 
| Apache Atlas | Data management | 
| ODPi Egeria | Data management |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [13]:
# This a simple arithmetic expression to mutiply then add integers.
Result = int ( ( 3 * 4 ) + 5 );
print( " Then execute the cell to ensure the expression returns the expected output of {:0d}".format( Result ));

 Then execute the cell to ensure the expression returns the expected output of 17

In [14]:
# Exercise 9 - Create a code cell to convert minutes to hours
def Minutes2Hours( timeMin, Rounding=None, Show=True ):
    if Rounding==None:
        timeHours = timeMin / 60 ;
    else:
        timeHours = round(( timeMin/60) ,Rounding);
    if Show:
        print(" Time in Hours: {}".format(timeHours));
    return timeHours;
# This will convert 200 minutes to hours by diving by 60
Minutes2Hours( 200 ,Rounding= 3 );

 Time in Hours: 3.333

<i> Exercise 10 - Insert a markdown cell to list Objectives </i>
<b><h2> Objectives: </b></h2>

* Markup in Jupyter notebook
* List of popular languages for Data Science
* Open-source development frame works
* Libraries used with Data Science
* Arithmetic expressions
* Functions and function calling
* Committing artifact to Github and releasing (sharing on public repository)

# Exercise 13:  Take a screenshot of the first page of the notebook.
proof of 1-notebook.png ![proof](https://drive.google.com/file/d/1EXC949BRT0IhNpADfIzvZl7Qqyr6IS9V/view)

1-notebook.png ![1-notebook](https://drive.google.com/drive/u/0/folders/1veE6pdUSiWVPc9UkUW0jsTyZDSO9bcB9/1-notebook.png)
##### picture not showing for some odd permissions reasons (?)
[1-notebook.png](https://drive.google.com/file/d/1EXC949BRT0IhNpADfIzvZl7Qqyr6IS9V/view)